<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptb.pay.mapper.impl.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ptb.pay.model.order.OrderDetail" >
    <id column="ptb_order_detail_id" property="ptbOrderDetailId" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="BIGINT" />
    <result column="payable_price" property="payablePrice" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ptb_order_detail_id, order_no, original_price, payable_price, product_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ptb_order_detail
    where ptb_order_detail_id = #{ptbOrderDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ptb_order_detail
    where ptb_order_detail_id = #{ptbOrderDetailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ptb.pay.model.order.OrderDetail" >
    insert into ptb_order_detail (ptb_order_detail_id, order_no, original_price, 
      payable_price, product_id)
    values (#{ptbOrderDetailId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{originalPrice,jdbcType=BIGINT}, 
      #{payablePrice,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ptb.pay.model.order.OrderDetail" >
    insert into ptb_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ptbOrderDetailId != null" >
        ptb_order_detail_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="payablePrice != null" >
        payable_price,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ptbOrderDetailId != null" >
        #{ptbOrderDetailId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=BIGINT},
      </if>
      <if test="payablePrice != null" >
        #{payablePrice,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ptb.pay.model.order.OrderDetail" >
    update ptb_order_detail
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=BIGINT},
      </if>
      <if test="payablePrice != null" >
        payable_price = #{payablePrice,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
    </set>
    where ptb_order_detail_id = #{ptbOrderDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ptb.pay.model.order.OrderDetail" >
    update ptb_order_detail
    set order_no = #{orderNo,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=BIGINT},
      payable_price = #{payablePrice,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT}
    where ptb_order_detail_id = #{ptbOrderDetailId,jdbcType=BIGINT}
  </update>
</mapper>