<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptb.pay.mapper.impl.ThirdPaymentNotifyLogMapper" >
  <resultMap id="BaseResultMap" type="com.ptb.pay.model.ThirdPaymentNotifyLog" >
    <id column="pth_third_payment_notify_log_id" property="pthThirdPaymentNotifyLogId" jdbcType="BIGINT" />
    <result column="recharge_order_no" property="rechargeOrderNo" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="notify_time" property="notifyTime" jdbcType="TIMESTAMP" />
    <result column="trade_status" property="tradeStatus" jdbcType="VARCHAR" />
    <result column="notify_content" property="notifyContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pth_third_payment_notify_log_id, recharge_order_no, pay_type, notify_time, trade_status, 
    notify_content
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ptb.pay.model.ThirdPaymentNotifyLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pth_third_payment_notify_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pth_third_payment_notify_log
    where pth_third_payment_notify_log_id = #{pthThirdPaymentNotifyLogId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pth_third_payment_notify_log
    where pth_third_payment_notify_log_id = #{pthThirdPaymentNotifyLogId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ptb.pay.model.ThirdPaymentNotifyLogExample" >
    delete from pth_third_payment_notify_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ptb.pay.model.ThirdPaymentNotifyLog" >
    insert into pth_third_payment_notify_log (pth_third_payment_notify_log_id, recharge_order_no, 
      pay_type, notify_time, trade_status, 
      notify_content)
    values (#{pthThirdPaymentNotifyLogId,jdbcType=BIGINT}, #{rechargeOrderNo,jdbcType=VARCHAR}, 
      #{payType,jdbcType=TINYINT}, #{notifyTime,jdbcType=TIMESTAMP}, #{tradeStatus,jdbcType=VARCHAR}, 
      #{notifyContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ptb.pay.model.ThirdPaymentNotifyLog" >
    insert into pth_third_payment_notify_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pthThirdPaymentNotifyLogId != null" >
        pth_third_payment_notify_log_id,
      </if>
      <if test="rechargeOrderNo != null" >
        recharge_order_no,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="notifyTime != null" >
        notify_time,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="notifyContent != null" >
        notify_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pthThirdPaymentNotifyLogId != null" >
        #{pthThirdPaymentNotifyLogId,jdbcType=BIGINT},
      </if>
      <if test="rechargeOrderNo != null" >
        #{rechargeOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="notifyTime != null" >
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="notifyContent != null" >
        #{notifyContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update pth_third_payment_notify_log
    <set >
      <if test="record.pthThirdPaymentNotifyLogId != null" >
        pth_third_payment_notify_log_id = #{record.pthThirdPaymentNotifyLogId,jdbcType=BIGINT},
      </if>
      <if test="record.rechargeOrderNo != null" >
        recharge_order_no = #{record.rechargeOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null" >
        pay_type = #{record.payType,jdbcType=TINYINT},
      </if>
      <if test="record.notifyTime != null" >
        notify_time = #{record.notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tradeStatus != null" >
        trade_status = #{record.tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyContent != null" >
        notify_content = #{record.notifyContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pth_third_payment_notify_log
    set pth_third_payment_notify_log_id = #{record.pthThirdPaymentNotifyLogId,jdbcType=BIGINT},
      recharge_order_no = #{record.rechargeOrderNo,jdbcType=VARCHAR},
      pay_type = #{record.payType,jdbcType=TINYINT},
      notify_time = #{record.notifyTime,jdbcType=TIMESTAMP},
      trade_status = #{record.tradeStatus,jdbcType=VARCHAR},
      notify_content = #{record.notifyContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ptb.pay.model.ThirdPaymentNotifyLog" >
    update pth_third_payment_notify_log
    <set >
      <if test="rechargeOrderNo != null" >
        recharge_order_no = #{rechargeOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=TINYINT},
      </if>
      <if test="notifyTime != null" >
        notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="notifyContent != null" >
        notify_content = #{notifyContent,jdbcType=VARCHAR},
      </if>
    </set>
    where pth_third_payment_notify_log_id = #{pthThirdPaymentNotifyLogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ptb.pay.model.ThirdPaymentNotifyLog" >
    update pth_third_payment_notify_log
    set recharge_order_no = #{rechargeOrderNo,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=TINYINT},
      notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      trade_status = #{tradeStatus,jdbcType=VARCHAR},
      notify_content = #{notifyContent,jdbcType=VARCHAR}
    where pth_third_payment_notify_log_id = #{pthThirdPaymentNotifyLogId,jdbcType=BIGINT}
  </update>
</mapper>